body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Montage", "Palatino", "Garamond", serif;
  font-size: 20px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans Std", "Gill Sans", "Verdana", "Lucida Grande", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  line-height: 1;
}
h1 {
  font-size: 3.998em;
}
h2 {
  font-size: 2.827em;
}
h3 {
  font-size: 1.999em;
}
h4 {
  font-size: 1.414em;
}
h5 {
  font-size: 0.707em;
}
h6 {
  font-size: 0.354em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  -webkit-transition: all 0.125s ease-in-out 0s;
  transition: all 0.125s ease-in-out 0s;
}
.navbar {
  background: none;
  border: 0;
  border-radius: 0;
  font-family: "Josefin Sans Std", "Gill Sans", "Verdana", "Lucida Grande", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.125s ease-in-out 0s;
  transition: all 0.125s ease-in-out 0s;
}
.navbar-brand {
  font-size: 1em;
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: none !important;
}
.is-navbar-docked .navbar-brand {
  color: #ffffff;
}
.is-navbar-docked .navbar-nav > li > a {
  color: #ffffff;
}
.is-navbar-docked .navbar-collapse {
  border-color: #ffffff;
}
.is-navbar-docked .navbar-toggle,
.is-navbar-docked .navbar-toggle:hover,
.is-navbar-docked .navbar-toggle:focus {
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.is-navbar-floating {
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
}
.is-navbar-floating .navbar-brand,
.is-navbar-floating .navbar-brand:hover,
.is-navbar-floating .navbar-nav > li > a,
.is-navbar-floating .navbar-nav > li > a:hover {
  color: #000000;
}
.is-navbar-floating .navbar-toggle:hover,
.is-navbar-floating .navbar-toggle:focus {
  background-color: #000000;
}
.is-navbar-floating .navbar-toggle .icon-bar {
  background-color: #000000;
}
.is-navbar-floating .navbar-toggle:hover .icon-bar,
.is-navbar-floating .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}
.section {
  padding: 120px 0;
  position: relative;
}
.section.section-splash {
  color: #fff;
  padding: 200px 0 220px 0;
  text-align: center;
}
.wrapper {
  overflow: hidden;
}
