/* ===========
   BASE STYLES 
   =========== */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Josefin Sans Std", "Gill Sans", "Verdana", "Lucida Grande", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 20px;
  }
}
strong {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans Std", "Gill Sans", "Verdana", "Lucida Grande", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  line-height: 1;
}
h1 {
  font-size: 3.157em;
}
h2 {
  font-size: 2.369em;
}
h3 {
  font-size: 1.777em;
}
h4 {
  font-size: 1.333em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.75em;
}
label {
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  -webkit-transition: all 0.125s ease-in-out 0s;
  transition: all 0.125s ease-in-out 0s;
}
.btn {
  font-size: 1em;
}
.form-control {
  font-size: 1em;
  font-weight: 100;
  line-height: 1.2;
}
/* =======
   MODULES
   ======= */
/* === NAVBAR === */
.navbar {
  background: none;
  border: 0;
  border-radius: 0;
  font-family: "Josefin Sans Std", "Gill Sans", "Verdana", "Lucida Grande", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.125s ease-in-out 0s;
  transition: all 0.125s ease-in-out 0s;
}
.navbar-brand {
  font-size: 1em;
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: none !important;
}
.is-navbar-docked .navbar-brand {
  color: #ffffff;
}
.is-navbar-docked .navbar-nav > li > a {
  color: #ffffff;
}
.is-navbar-docked .navbar-toggle,
.is-navbar-docked .navbar-toggle:hover,
.is-navbar-docked .navbar-toggle:focus {
  background: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}
.is-navbar-docked .navbar-toggle .icon-bar {
  background-color: #000000;
}
.is-navbar-docked .navbar-toggle:hover .icon-bar,
.is-navbar-docked .navbar-toggle:focus .icon-bar {
  background-color: #000000;
}
.is-navbar-docked.is-navbar-collapsed {
  background-color: #ffffff;
  color: #000000;
}
.is-navbar-docked.is-navbar-collapsed .navbar-brand {
  color: #000000;
}
.is-navbar-docked.is-navbar-collapsed .navbar-nav > li > a {
  color: #000000;
}
.is-navbar-docked.is-navbar-collapsed .navbar-collapse {
  border-color: #000000;
}
.is-navbar-floating {
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
}
.is-navbar-floating .navbar-brand,
.is-navbar-floating .navbar-brand:hover,
.is-navbar-floating .navbar-nav > li > a,
.is-navbar-floating .navbar-nav > li > a:hover {
  color: #000000;
}
.is-navbar-floating .navbar-toggle:hover,
.is-navbar-floating .navbar-toggle:focus {
  background-color: #000000;
}
.is-navbar-floating .navbar-toggle .icon-bar {
  background-color: #000000;
}
.is-navbar-floating .navbar-toggle:hover .icon-bar,
.is-navbar-floating .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}
/* === SECTIONS === */
.section {
  padding: 100px 0;
  position: relative;
}
.section:nth-child(even) {
  background-color: #e6e6e6;
}
.subhead {
  font-weight: 100;
  margin-bottom: 40px;
}
/* === SPLASH SECTION === */
.section.section-splash {
  color: #ffffff;
  height: 100vh;
  padding-top: 120px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .section.section-splash {
    padding-top: 240px;
  }
}
/* === PROFILE SECTION === */
.profile-pic {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}
/* === PORTFOLIO SECTION === */
.portfolio-item {
  margin-bottom: 20px;
}
/* === SERVICES SECTION === */
.services-title {
  margin-top: 10px;
}
.services-item {
  margin-bottom: 40px;
}
/* === CONTACT SECTION === */
.button-submit {
  font-weight: 100;
}
/* === TESTIMONIALS SECTION === */
.testimonials-item {
  margin-bottom: 40px;
}
/* === FOOTER === */
.footer {
  padding-top: 20px;
  background-color: #000000;
  color: #ffffff;
}
.footer a,
.footer a:hover {
  color: #ffffff;
}
.footer-item {
  margin-bottom: 40px;
}
/* === OTHER === */
.wrapper {
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  .text-md-right {
    text-align: right;
  }
}
/* ==================
   THIRD-PARTY STYLES 
   ================== */
/* === MAGNIFIC POPUP === */
.mfp-close {
  font-family: "Josefin Sans Std", "Gill Sans", "Verdana", "Lucida Grande", "Arial", "Helvetica", sans-serif;
}
.mfp-bottom-bar {
  font-family: "Josefin Sans Std", "Gill Sans", "Verdana", "Lucida Grande", "Arial", "Helvetica", sans-serif;
  margin-top: -30px;
}
.popup-description {
  font-weight: 100;
}
/* === SOCIAL ICONS (FONTAWESOME) === */
.list-social-icons {
  margin: 0 auto;
}
