/* ===========
   BASE STYLES 
   =========== */

body {
  background-color: @color-background;
  color: @color-foreground;
  font-family: @body-font;
  font-size: @fontsize-base-mobile;
  font-weight: @fontweight-light;
  line-height: 1.5;
  @media @query-md {
    font-size: @fontsize-base
  }
}

strong {
  font-weight: @fontweight-normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @header-font;
  font-weight: @fontweight-bold;
  line-height: 1;
}

h1 {
  font-size: @size1;
}

h2 {
  font-size: @size2;
}

h3 {
  font-size: @size3;
}

h4 {
  font-size: @size4;
}

h5 {
  font-size: @size5;
}

h6 {
  font-size: @size6;
}

label {
  font-weight: @fontweight-normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: @transition-default;
}

.btn {
  font-size: @size5;
}

.form-control {
  font-size: @size5;
  font-weight: @fontweight-light;
  line-height: 1.2;
}

/* =======
   MODULES
   ======= */

/* === NAVBAR === */

.navbar {
  background: none;
  border: 0;
  border-radius: 0;
  font-family: @header-font;
  font-weight: @fontweight-bold;
  text-transform: uppercase;
  transition: @transition-default;
}
 
.navbar-brand {
  font-size: @size5;
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: none !important;  // override bootstrap default
}

// Docked navbar

.is-navbar-docked {}

.is-navbar-docked .navbar-brand {
  color: @color-background;
}

.is-navbar-docked .navbar-nav>li>a {
  color: @color-background;
}

// Docked collapsed navbar

.is-navbar-docked .navbar-toggle,
.is-navbar-docked .navbar-toggle:hover,
.is-navbar-docked .navbar-toggle:focus {
  background: @color-background;
  border: 1px solid @color-foreground;
  color: @color-foreground;
}

.is-navbar-docked .navbar-toggle .icon-bar {
  background-color: @color-foreground;  // .icon-bar is coloured with background-color, not color
}

.is-navbar-docked .navbar-toggle:hover .icon-bar,
.is-navbar-docked .navbar-toggle:focus .icon-bar {
  background-color: @color-foreground;  // .icon-bar is coloured with background-color, not color
}

.is-navbar-docked.is-navbar-collapsed {
  background-color: @color-background;
  color: @color-foreground;
}

.is-navbar-docked.is-navbar-collapsed .navbar-brand {
  color: @color-foreground;
}

.is-navbar-docked.is-navbar-collapsed .navbar-nav>li>a {
  color: @color-foreground;
}

.is-navbar-docked.is-navbar-collapsed .navbar-collapse{
  border-color: @color-foreground;
}

// Floating navbar

.is-navbar-floating {
  background-color: @color-background;
  border-bottom: 1px solid @color-foreground;
}

.is-navbar-floating .navbar-brand,
.is-navbar-floating .navbar-brand:hover,
.is-navbar-floating .navbar-nav>li>a,
.is-navbar-floating .navbar-nav>li>a:hover {
  color: @color-foreground;
}

// Floating collapsed navbar

.is-navbar-floating .navbar-toggle:hover,
.is-navbar-floating .navbar-toggle:focus {
  background-color: @color-foreground;
}

.is-navbar-floating .navbar-toggle .icon-bar {
  background-color: @color-foreground;  // .icon-bar is coloured with background-color, not color
}

.is-navbar-floating .navbar-toggle:hover .icon-bar,
.is-navbar-floating .navbar-toggle:focus .icon-bar {
  background-color: @color-background;  // .icon-bar is coloured with background-color, not color
}

/* === SECTIONS === */

.section {
  padding: 100px 0;
  position: relative;
}

.section:nth-child(even) when (lightness(@color-background) > 50%) {
  background-color: darken(@color-background, 10%);
}

.section:nth-child(even) when (lightness(@color-background) <= 50%) {
  background-color: lighten(@color-background, 10%);
}

.subhead {
  font-weight: 100;
  margin-bottom: 40px; 
}

/* === SPLASH SECTION === */

.section.section-splash {
  color: @color-background;
  .fullheight;
  text-align: center;
}

.section.section-splash .container {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);  // autoprefixer isn't giving me webkit
}

/* === PROFILE SECTION === */

.section-profile {}

.profile-pic {
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
  padding-left: 30px;
  padding-right: 30px;
  .stackable(2);
}

/* === PORTFOLIO SECTION === */

.section-portfolio {}

.portfolio-item {
  .stackable(2);
}

/* === SERVICES SECTION === */

.section-services {}

.services-title {
  margin-top: 10px;
}

.services-item {
  .stackable(4);
}

/* === CONTACT SECTION === */

.section-contact {}

.button-submit {
  font-weight: @fontweight-light;
}

/* === TESTIMONIALS SECTION === */

.section-testimonials {}

.testimonials-item {
  .stackable(4);
}

/* === FOOTER === */

.footer {
  padding-top: 20px;
  .inverted;
}

.footer a,
.footer a:hover {
  color: @color-background;
}

.footer-item {
  .stackable(4);
}

.copyright {}

/* === OTHER === */

.wrapper {
  overflow: hidden;
}

.text-md-left {
  @media @query-md {
    text-align: left;
  }
}

.text-md-right {
  @media @query-md {
    text-align: right;
  }
}

/* ==================
   THIRD-PARTY STYLES 
   ================== */

/* === MAGNIFIC POPUP === */

.mfp-close {
  font-family: @header-font;
}

.mfp-bottom-bar {
  font-family: @header-font;
  // padding-top: 15px;
}

.popup-title {}

.popup-description {
  font-weight: @fontweight-light;
}

/* === SOCIAL ICONS (FONTAWESOME) === */

.list-social-icons {
  margin: 0 auto;
}
