
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'Montaga', serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

nav {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

img {
  max-width: 100%;
  height: auto;
}

#intro {
  color: #fff;
  padding: 200px 0 220px 0;
  text-align: center;
}

.navbar {
  background: none;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #FFF;
}

.navbar-color.navbar-inverse .navbar-brand, .navbar-color.navbar-inverse .navbar-nav>li>a {
  color: #000;
}

.navbar-color.navbar-inverse .navbar-nav>li.active>a {
  color: #FFF;
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: none !important;
}

.navbar-color {
  background-color: #FFF;
  border-bottom: 1px solid #000;
}

.navbar-brand {
  font-size: 1em;
}

.section {
  position: relative;
  padding: 120px 0;
}

.wrapper {
  overflow: hidden;
}

a, .navbar {
  transition: all 0.125s ease-in-out 0s;
}

/** 
 * iOS compatibility
 */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  #intro {
    height: 1024px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  #intro {
    height: 768px;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  #intro {
    height: 500px;
  }
}
