body {
  font-family: @body-font;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @header-font;
  font-weight: 600;
}

nav {
  font-family: @header-font;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: @transition-default;
}

#intro {
  color: #fff;
  padding: 200px 0 220px 0;
  text-align: center;
}

.navbar {
  background: none;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  transition: @transition-default;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: @color-background;
}

.navbar-color.navbar-inverse .navbar-brand, .navbar-color.navbar-inverse .navbar-nav>li>a {
  color: @color-foreground;
}

.navbar-color.navbar-inverse .navbar-nav>li.active>a {
  color: @color-background;
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: none !important;
}

.navbar-color {
  background-color: @color-background;
  border-bottom: 1px solid @color-foreground;
}

.navbar-brand {
  font-size: 1em;
}

.section {
  padding: 120px 0;
  position: relative;
}

.wrapper {
  overflow: hidden;
}
