@serif-font: "Montage", "Palatino", "Garamond", serif;
@sans-serif-font: "Josefin Sans Std", "Gill Sans", "Verdana", "Lucida Grande", "Arial", "Helvetica", sans-serif;

@header-font: @sans-serif-font;
@body-font: @serif-font;

@white: hsl(0, 100%, 100%);
@black: hsl(0, 100%, 0%);

@color-background: @white;
@color-foreground: @black;
@color-accent: hsl(282, 68%, 38%);

@transition-default: all 0.125s ease-in-out 0s;

@fontsize-base: 20px;
