@serif-font: "Montage", "Palatino", "Garamond", serif;
@sans-serif-font: "Josefin Sans Std", "Gill Sans", "Verdana", "Lucida Grande", "Arial", "Helvetica", sans-serif;

@header-font: @sans-serif-font;
@body-font: @sans-serif-font;

@white: hsl(0, 100%, 100%);
@black: hsl(0, 100%, 0%);

@color-background: @white;
@color-foreground: @black;
@color-accent: @black;

@transition-default: all 0.125s ease-in-out 0s;

@fontsize-base: 20px;
@fontsize-base-mobile: 16px;

@fontweight-light: 100;
@fontweight-normal: 400;
@fontweight-bold: 600;

@mobile-landscape: ~"only screen and (min-width: 480px)";
@tablet-portrait: ~"only screen and (min-width: 768px)";
@tablet-landscape: ~"only screen and (min-width: 992px)";
@desktop: ~"only screen and (min-width: 1200px)";
