@transition-default: all 0.125s ease-in-out 0s;

@query-xs: ~"only screen and (min-width: 480px)";
@query-sm: ~"only screen and (min-width: 768px)";
@query-md: ~"only screen and (min-width: 992px)";
@query-lg: ~"only screen and (min-width: 1200px)";

@size1: 3.157em;
@size2: 2.369em;
@size3: 1.777em;
@size4: 1.333em;
@size5: 1em;
@size6: 0.750em;

@fontweight-light: 100;
@fontweight-normal: 400;
@fontweight-bold: 600;
